{% extends 'orders/header.html' %}

{% block content %}
    <div class="container my-5">
      <div class="row justify-content-center">
        <div class="col-md-10 col-lg-12">
          <div class="card shadow rounded border-0">
            <div class="card-header bg-primary text-white text-center">
              <h4 class="mb-0"><i class="fas fa-map-marker-alt me-2"></i>Notre Localisation</h4>
            </div>
            <div class="card-body p-0">
              <iframe
                      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13294.144430077542!2d-7.6401674!3d33.5883105!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xda7cdcfda5fa67b%3A0x6cf82f1eae6b4cb5!2sCasablanca!5e0!3m2!1sfr!2sma!4v1684836349638!5m2!1sfr!2sma"
                      width="100%"
                      height="450"
                      style="border:0;"
                      allowfullscreen=""
                      loading="lazy"
                      referrerpolicy="no-referrer-when-downgrade">
              </iframe>
            </div>
            <div class="card-footer bg-light">
              <ul class="mb-0">
                <li><i class="fas fa-location-dot me-2 text-primary"></i>Situé à Casablanca, proche du centre-ville.</li>
                <li><i class="fas fa-subway me-2 text-primary"></i>Facilement accessible par transport public.</li>
                <li><i class="fas fa-car-crash me-2 text-danger"></i>Évitez de vous garer dans les zones de stationnement interdit (zone de remorquage) !</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

{% endblock %}
